<ion-header>
  <header>
    <div class="container">
      <div class="row">
        <div class="logo">
          <img src="assets/logo.svg" alt="" />
        </div>
        <div class="user-detail">
          <div class="detail-wrapper" (click)="openUserMenu($event)">
            <div class="avatar">
              <img src="assets/avatar.png" alt="" />
              <div class="online-indicator"></div>
            </div>
            <div class="name">Admin user</div>
            <ion-icon name="caret-down-outline"></ion-icon>
          </div>
        </div>
      </div>
    </div>
  </header>
</ion-header>
