header {
  background-color: #fff;
  padding: 10px 15px;
}

.row {
  justify-content: space-between;
}

.logo {
  flex: 0 0 20%;
  max-width: 20%;
  img {
    max-height: 45px;
  }
}

.user-detail {
  .detail-wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .avatar {
    position: relative;
    img {
      border: solid 1px #e6ebf2;
      border-radius: 100%;
      padding: 5px;
      max-height: 45px;
    }
    .online-indicator {
      width: 8px;
      height: 8px;
      border-radius: 100%;
      background-color: #17e933;
      position: absolute;
      top: 5px;
      right: 3px;
    }
  }
  .name {
    margin-left: 10px;
    margin-right: 5px;
  }
}

.row {
  display: flex;
  align-items: center;
}
