header {
  background-color: #fff;
  padding: 10px 15px;
}

.row {
  justify-content: space-between;
}

.nav-logo-wrapper {
  display: flex;
  align-items: center;
  .logo {
    flex: 0 0 40%;
    max-width: 40%;
    cursor: pointer;
    img {
      max-height: 45px;
    }
  }
  nav {
    margin-left: 30px;
    ul {
      li {
        a {
          cursor: pointer;
          &::after {
            content: "";
            width: 0%;
            height: 2px;
            background: var(--main-blue);
            margin: 5px auto 0;
            display: block;
            opacity: 0;
            transition: all 0.3s ease-in;
          }

          &:hover {
            &::after {
              width: 100%;
              transition: all 0.3s ease-out;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.user-detail {
  .detail-wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .avatar {
    position: relative;
    img {
      border: solid 1px #e6ebf2;
      border-radius: 100%;
      padding: 5px;
      max-height: 45px;
    }
    .online-indicator {
      width: 8px;
      height: 8px;
      border-radius: 100%;
      background-color: #17e933;
      position: absolute;
      top: 5px;
      right: 3px;
    }
  }
  .name {
    margin-left: 10px;
    margin-right: 5px;
  }
}

.row {
  display: flex;
  align-items: center;
}
