<ion-header>
  <header>
    <div class="container">
      <div class="row">
        <div class="nav-logo-wrapper">
          <div class="logo" (click)="home()">
            <img src="assets/logo.svg" alt="" />
          </div>
          <nav>
            <ul>
              <li (click)="home()"><a>Dashboard</a></li>
            </ul>
          </nav>
        </div>
        <div class="user-detail" *ngIf="user">
          <div class="detail-wrapper" (click)="openUserMenu($event)">
            <div class="avatar">
              <img [src]="user.avatar" alt="" />
              <div class="online-indicator"></div>
            </div>
            <div class="name">{{ user.name }}</div>
            <ion-icon name="caret-down-outline"></ion-icon>
          </div>
        </div>
      </div>
    </div>
  </header>
</ion-header>
