<app-header></app-header>
<ion-content [fullscreen]="true">
  <section id="latest-video" class="container">
    <div class="page-padding">
      <ion-grid>
        <ion-row>
          <ion-col sizeXs="12" sizeMd="3">
            <div class="user-card" *ngIf="user">
              <div class="avatar">
                <img [src]="user.avatar" alt="" />
              </div>

              <div class="details">
                <!-- <div class="contact">
                  <ion-icon name="mail"></ion-icon> {{user.email}}
                </div>
                <div class="contact">
                  <ion-icon name="call"></ion-icon> {{user.phone}}
                </div> -->
                <div class="name">{{user.name}}</div>
                <div class="contact">
                  <ion-icon name="location"></ion-icon> {{user.city}}
                </div>
              </div>
            </div>
          </ion-col>
          <ion-col sizeXs="12" sizeMd="9">
            <div class="user-card" *ngIf="user">
              <div class="card-title">
                <h2>Profile</h2>
                <ion-icon name="create"></ion-icon>
              </div>
              <div class="card-body">
                <div class="input-value">
                  <label>Name</label>
                  <span>{{user.name}}</span>
                </div>
                <div class="input-value">
                  <label>Email</label>
                  <span>{{user.email}}</span>
                </div>
                <div class="input-value">
                  <label>Phone</label>
                  <span>{{user.phone}}</span>
                </div>
                <div class="input-value">
                  <label>Address</label>
                  <span>{{user.address}}</span>
                </div>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </section>
</ion-content>
