<div class="page-wrapper">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <div class="page-padding">
        <form [formGroup]="registerForm">
          <div class="form-wrapper">
            <div class="logo-wrapper">
              <img src="assets/logo.svg" alt="" />
            </div>
            <div class="form-title">Register Now</div>
            <div class="form-subtitle">Subscribe video in smart way</div>
            <div class="input-group mb-5 floating-group">
              <input
                type="text"
                class="form-control"
                formControlName="email"
                [class.invalid]="
                formControl.email.invalid && formControl.email.touched
              "
              />
              <label>Email / Phone number</label>
              <div class="icon">
                <ion-icon name="person"></ion-icon>
              </div>
            </div>
            <div
              class="error"
              *ngIf="formControl.email.invalid && formControl.email.touched"
            >
              <form-field-error
                [control]="formControl.email"
              ></form-field-error>
            </div>
            <div class="input-group floating-group">
              <input
                [type]="inputType"
                class="form-control"
                formControlName="password"
                [class.invalid]="
                formControl.password.invalid && formControl.password.touched
              "
              />
              <label>Password</label>
              <div class="icon password" (click)="showPassword()">
                <ion-icon name="eye-off"></ion-icon>
              </div>
            </div>
            <form-field-error
              [control]="formControl.password"
            ></form-field-error>
            <div class="btn-wrapper">
              <button
                class="btn-blue btn btn-full"
                [disabled]="!registerForm.valid"
                (click)="signup()"
              >
                Sign up
              </button>
            </div>
            <div class="footnote">
              Already have an account? <a (click)="login()">Signin</a>
            </div>
          </div>
        </form>
      </div>

      <div class="page-padding blue-bg">
        <div class="slide-wrapper">
          <swiper #slider [config]="slideOpts">
            <ng-template *ngFor="let slide of slides" swiperSlide>
              <div class="slide-item">
                <div class="image">
                  <img [src]=" slide.image" alt="" />
                </div>
                <h3 class="title">{{slide.title}}</h3>
                <p class="text">{{slide.text}}</p>
              </div>
            </ng-template>
          </swiper>
        </div>
      </div>
    </ion-row>
  </ion-grid>
</div>
