:root {
  --main-blue: #345fc3;
  --main-gray: #cccccc;
  --main-blue-hover: #1747b8;
  --main-pink: #d80286;
}

body {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}
.page-padding {
  padding: 1em;
}
a {
  color: var(--main-blue);
  cursor: pointer;
}
.image-holder {
  background-size: cover;
  min-height: 100px;
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  @media (min-width: 576px) {
    max-width: 560px;
  }
  @media (min-width: 768px) {
    max-width: 960px;
  }
  @media (min-width: 992px) {
    max-width: 960px;
  }
  @media (min-width: 1200px) {
    max-width: 1140px;
  }

  @media (min-width: 1400px) {
    max-width: 1320px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}

.video-item {
  &:hover {
    animation: bounce 1.5s ease infinite;
    -webkit-animation: bounce 1.5s ease infinite;
    -moz-animation: bounce 1.5s ease infinite;
    -o-animation: bounce 1.5s ease infinite;
  }
}

.section-title {
  h1 {
    margin-bottom: 20px;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
  }
}

.subscribe-alert {
  font-family: "Poppins", sans-serif;
  .btn-line-gray {
    &:hover {
      border: none;
    }
  }
  .btn-blue {
    &:hover {
      box-shadow: none !important;
    }
    span {
      color: #ffffff !important;
      justify-content: center;
      padding: 7px 10px;
      border-radius: 10px;
      background-color: var(--main-blue);
      &:hover {
        color: #ffffff !important;
        box-shadow: inset 400px 0 0 0 var(--main-blue-hover);
      }
    }
  }
}
