.videos {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -15px;
  .video-item {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 15px;

    @media (max-width: 767px) {
      flex: 100%;
      max-width: 100%;
    }
  }
}

ion-content {
  --background: rgba(232, 232, 232, 0.8);
}
